@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  @apply border;
  @apply border-solid;
  @apply border-gray-300;
  /* @apply rounded-md; */
  @apply px-4;
  @apply py-2;
}


input:focus-visible {
  outline-color: transparent
}

.button {
  @apply bg-black text-white rounded-r-md inline-block px-5 py-3;
}

.download {
  @apply bg-white border-black border-solid border-2 text-black rounded-md inline-block px-5 py-3 mt-4;
}

.image-wrapper {
  width: 50%;
  aspect-ratio: 1 / 1;
  position: relative;
}